body {
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.btn {
    position: relative;
    border: 2px solid black;
    background-color: transparent;
    font-size: 20px;
    margin: 0 20px;
    padding: 15px;
}

.sec {
    padding: 50px 0;
}

/*************************************
Round Animations
*************************************/

/* General Styling for Round */
.circle {
    overflow: hidden;
}

    .circle:before {
        content: "";
        position: absolute;
        height: 150px;
        width: 200px;
        background-color: yellow;
        border-radius: 50%;
        transition: all 0.7s ease-in-out; /* Adjust on your on liking */
        z-index: -1;
    }

    /* Left Round */
    .circle-left::before {
        right: 100%;
        top: 100%;
    }

        .circle-left:hover::before {
            top: -35px; /* Adjust position Y when hovering */
            right: -35px; /* Adjust position X when hovering */
        }

    /* Center Round */
    .circle-middle::before {
        left: -40px;
        bottom: 110%;
    }

        .circle-middle:hover::before {
            bottom: -50px; /* Adjust position Y when hovering */
        }

    /* Right Round */
    .circle-right::before {
        left: 100%;
        top: 100%;
    }

        .circle-right:hover::before {
            top: -35px; /* Adjust position Y when hovering */
            left: -35px; /* Adjust position X when hovering */
        }

/*************************************
Rectangle Animations
*************************************/

/* General Styling for Rectangle */
.rectangle {
    overflow: hidden;
}

    .rectangle:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: yellow;
        transition: all 0.7s ease-in-out; /* Adjust on your on liking */
        z-index: -1;
    }

    /* Left Rectangle */
    .rectangle-left::before {
        top: 0;
        right: 100%;
    }

        .rectangle-left:hover::before {
            right: 0;
        }

    /* Center Rectangle */
    .rectangle-middle::before {
        left: 0;
        bottom: 100%;
    }

        .rectangle-middle:hover::before {
            bottom: 0;
        }

    /* Right Rectangle */
    .rectangle-right::before {
        top: 0;
        left: 100%;
    }

        .rectangle-right:hover::before {
            left: 0;
        }
